{% extends 'courses/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="content-section">

    <h5>Register</h5><br>

    <form method="POST">

        {% csrf_token %}

        {{ form|crispy }}

        <div class="form-group" style="padding-top: 16px">
            <button class="btn btn-outline-info" type="submit">Sign up</button>
        </div>
    
    </form>

    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{% url 'login' %}">Log in</a>
        </small>
    </div>

</div> 

{% endblock content %}